<ion-view view-title="which">
    <link href="static/css/tpl/issuedsuccessfully.css" rel="stylesheet">
    <div class="cc-issuedsuccessfully" ng-controller="issuedsuccessfullyController">
        <div class="bar bar-header bar-light" ui-sref="indexI.indexMainI">
            <span class="title">跳过</span>
        </div>
        <h1>发布成功!</h1>

        <!--<div class="row">
            <div class="col col-33">
                <img src="http://i4.buimg.com/501024/5ff348a9577ff1c8.png">
            </div>
            <div class="col col-33">
                <img src="http://i4.buimg.com/501024/ae4bc15a0dfe9a34.png">
            </div>
            <div class="col col-33">
                <img src="http://i4.buimg.com/501024/7f948a888860d3ae.png">
            </div>
        </div>-->
    </div>
    </ion-content>
</ion-view>