<ion-view view-title="" animation="no-animation" class="no-animation" cache-view="false">
    <link href="static/css/tpl/login.css" rel="stylesheet">
    <div class="cc-login" ng-controller="loginController">
        <ion-content animation="no-animation" class="no-animation" id="loginViewContent">
            <div class="card">

                <ion-nav-view id="loginView" animation="slide-in-up" class="no-animation" name="loginMainV" nav-direction="exit" nav-View-direction="exit"></ion-nav-view>

            </div>
        </ion-content>
    </div>
</ion-view>