.cc-questions {
    /*background-color: #2A2A2A;*/
    background: url(http://i4.buimg.com/501024/477226e82d1aa6afs.png) no-repeat center bottom;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.cc-questions .bar-header {
    height: 66px;
    border-bottom-width: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(0deg, rgba(221, 221, 221, 0), rgba(221, 221, 221, 0) 50%, transparent 50%);
}

.cc-questions .bar-header .tabs {
    height: 66px;
    top: 0px;
    padding-top: 8px;
    padding-bottom: 20px;
    border-top-width: 0px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.cc-questions .bar-header .tabs .tab-item {
    opacity: 1;
}

.cc-questions .bar-header .tabs i {
    color: white;
}

.cc-questions .bar-header h1 {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 15px;
}

.cc-questions .bar-footer {
    box-shadow: 0px -5px 10px 1px #1B1B1B;
}

.cc-questions .bar-footer .row .col-33,
.cc-questions .bar-footer .row .col-50 {
    text-align: center;
}

.cc-questions .bar-footer .row .col-33 i,
.cc-questions .bar-footer .row .col-50 {
    font-size: 18px;
}

.cc-questions ion-content {
    /*z-index: 99;*/
    height: 100%;
}

.cc-questions ion-content .cc-slide-box {
    margin: 0 auto;
    margin-top: 66px;
    width: 100%;
    height: 100%;
    z-index: 99;
    /*padding-top: 64px;*/
}

.cc-questions ion-content .cc-slide-box .slider {
    height: 100%;
}

.cc-questions ion-content .cc-slide-box .slider-slide {
    color: #000;
    /*background-color: #fff;*/
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    /*width: 100%;
    position: relative;*/
}

.cc-questions ion-content .cc-slide-box .box {
    /*height: 72%;*/
}

.cc-questions ion-content .cc-slide-box .box h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cc-questions ion-content .cc-slide-box .box .card {
    width: 85%;
    min-width: 295px;
    max-width: 400px;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 5px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col .row span {
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    color: #3E3D3D;
    padding-top: 5px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col .row img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 0 auto;
}

.cc-questions ion-content .cc-slide-box .box .card .row span {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #3D3D3D;
    width: 80%;
}

.cc-questions ion-content .cc-slide-box .box .card .row.question-content {
    padding-top: 25%;
    /* height: 150px; */
    /* height: 40%; */
    padding-bottom: 24%;
    font-weight: bold;
}

.cc-questions ion-content .cc-slide-box .box .card .row.question-option {
    width: 98%;
    margin: 0 auto;
    padding: 0px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .time-like {
    padding-bottom: 10px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50.option-time {
    text-align: left;
    padding-left: 5px;
    font-size: 13px;
    color: #000000;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .option-like {
    text-align: right;
    padding-right: 5px;
    font-size: 13px;
    color: #000000;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img {
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    color: #3D3D3D;
    /*background: url(http://i4.buimg.com/501024/7d8013df3d82f581.png) no-repeat center bottom;
            background-size: 100% 100%;*/
    width: 168px;
    height: 172px;
    border-radius: 5px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50.option-img-c {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.cc-questions ion-content .cc-slide-box .box .card .row.option-img-r {
    padding: 0px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img.option-A {
    background: url(http://i4.buimg.com/501024/7d8013df3d82f581s.png) no-repeat center bottom;
    background-size: 100% 100%;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img.option-B {
    background: url(http://i4.buimg.com/501024/de4673138295ff15s.png) no-repeat center bottom;
    background-size: 100% 100%;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img .back-opacity {
    opacity: 0.68;
    background-color: #414141;
    height: 100%;
    border-radius: 5px;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img.chosen span {
    font-size: 16px;
    color: #FFC902;
    padding-top: 50px;
    font-weight: bold;
    height: 100%;
    bottom: 100px;
    /* display: block; */
    position: relative;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option-img.chosend span {
    font-size: 16px;
    color: #FBFAF7;
    padding-top: 50px;
    font-weight: bold;
    height: 100%;
    bottom: 100px;
    /* display: block; */
    position: relative;
}

.cc-questions ion-content .cc-slide-box .box .card .row .col-50 .row .option {
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    color: #000000;
    padding-top: 18px;
    /*font-weight: bold;*/
}

.cc-questions .bar.bar-footer .row+.row {
    margin-top: 0px;
    padding: 5px;
}

.cc-questions .bar.bar-footer .row .col-80 {
    padding: 0px;
}

.cc-questions .bar.bar-footer .row .col-80 .item.item-input {
    border-radius: 3px;
    padding-left: 10px;
    height: 24px;
}

.cc-questions .bar.bar-footer .row .col-80 .item.item-input input {}

.cc-questions .bar.bar-footer .row .col-20 {
    padding: 0px;
}

.cc-questions .bar.bar-footer .row .col-20 button {
    bottom: 5px;
    /* margin: 0 auto; */
    width: 90%;
    margin-left: 10px;
}